<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration>
    <!-- 文件输出格式 -->
    <property name="PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n" />
    <!-- pro文件路径 -->
    <property name="PRO_FILE_PATH" value="./logs/web.log" />

    <!-- 生产环境 -->
    <springProfile name="prod">
        <!-- 日志保存路径 -->
        <property name="LOG_DIR" value="./logs" />
        <!-- 按照每天生成日志文件 -->
        <appender name="PROD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 生成文件名称 -->
            <file>${PRO_FILE_PATH}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!-- 文件名 -->
                <fileNamePattern>${LOG_DIR}/device_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <!-- 日志文件保留天数 -->
                <MaxHistory>30</MaxHistory>
                <!-- 总日志文件大小 -->
                <totalSizeCap>5GB</totalSizeCap>
                <!-- 单日志文件大小上限 -->
                <maxFileSize>100MB</maxFileSize>
            </rollingPolicy>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
                <pattern>${PATTERN}</pattern>
            </encoder>
        </appender>
        <logger name="cn.spark.device" level="INFO" additivity="false">
            <appender-ref ref="PROD_FILE" />
        </logger>
        <root level="INFO">
            <appender-ref ref="PROD_FILE" />
        </root>
    </springProfile>

    <!-- 开发环境 -->
    <springProfile name="dev">
        <property name="LOG_DIR" value="./dev_logs" />
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
        <logger name="cn.spark.device" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>
        <!-- 日志输出级别 -->
        <root level="info">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

</configuration>